<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
</head>
<body>
<h1>About Us</h1>
<p>Welcome to Ryan's Robots, the best place to pick up all your technology needs.
  We have parts to help replace any broken aspect of your computer, phone, headphones, or anything in between.
  Customer satisfaction is the most important part of our business, and we understand how often everyone uses their
  technology so we do everything in our power to make sure they all work properly.
</p>
<a href="http://localhost:8080">Back to the Mainscreen</a>
</body>
</html>